@use '/src/styles/forward' as *;
@use 'sass:color';

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.checkbox,
.radio {
  position: relative;
  display: flex;
  align-items: flex-start;

  &.toggle {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;

    &.is-disabled .input {
      border-color: transparent;
      background-color: $color-disabled;

      @include dark-mode {
        background-color: $color-disabled-dark;
      }
    }

    &.is-error:not(.is-skeleton, .is-disabled) .input {
      background-color: $color-error;

      @media (hover: hover) {
        &:hover:not(.is-disabled &) {
          background-color: $color-error;
        }
      }
    }
  }

  &.is-disabled .input {
    border-color: transparent;
    background: $color-disabled;

    @include dark-mode {
      border-color: transparent;
      background: $color-disabled-dark;
    }

    & + label {
      color: $color-body;

      @include dark-mode {
        color: $color-body-dark;
      }

      .title,
      .total,
      .content {
        color: inherit;
      }
    }
  }

  &.is-skeleton {
    .input {
      border-color: transparent;
      animation: pulse 1.5s infinite ease-in-out;
      background-color: $color-skeleton;

      @include dark-mode {
        background-color: $color-skeleton-dark;
      }

      &:checked {
        border-color: transparent;
        background-color: $color-skeleton;

        &::before {
          display: none;
        }
      }

      &::before {
        display: none;
      }

      & + label {
        .label,
        .total,
        .content {
          border-radius: 0.25rem;
          animation: pulse 1.5s infinite alternate;
          background-color: $color-skeleton;
          color: transparent;

          @include dark-mode {
            background-color: $color-skeleton-dark;
          }
        }
      }
    }
  }

  &.is-error:not(.is-skeleton, .is-disabled) {
    &.radio .input:checked {
      background: $color-error;
    }

    & + .helper {
      color: $color-error;
    }

    .input {
      border-color: $color-error;

      &:checked {
        background: $color-error;
      }

      &:focus-visible,
      &:not(:placeholder-shown) {
        border-color: $color-error;
        outline-color: $color-error;
      }
    }
  }

  &.no-placeholder label {
    padding-left: 0;
  }
}

.input {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: 0;
  border: 0.0625rem solid $color-border;
  border-radius: 0.25rem;
  appearance: none;
  aspect-ratio: 1;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  @include dark-mode {
    border-color: $color-border-dark;
  }

  .toggle & {
    width: 4.5rem;
    height: 2rem;
    border-color: transparent;
    border-radius: 1.25rem;
    background-color: color.change($color-dark, $alpha: 0.2);

    @include dark-mode {
      background-color: color.change($color-light, $alpha: 0.1);
    }
  }

  .radio & {
    border-radius: 0.75rem;
  }

  &::before {
    position: absolute;
    top: 0.1875rem;
    left: 0.5rem;
    width: 0.5rem;
    height: 0.875rem;
    border-right: 0.1875rem solid $color-light;
    border-bottom: 0.1875rem solid $color-light;
    content: '';
    opacity: 0;
    pointer-events: none;
    transform: rotate(45deg);

    @include dark-mode {
      border-right-color: $color-dark;
      border-bottom-color: $color-dark;
    }

    .toggle & {
      right: 1.8126rem;
      left: auto;
      width: 2.5rem;
      height: 1.625rem;
      border: 0;
      border-radius: 0.8125rem;
      background-color: $color-light;
      opacity: 1;
      transform: none;
      transition: all 0.2s ease-in-out;
    }

    .radio & {
      top: 0.5rem;
      left: 0.5rem;
      width: 0.5rem;
      height: 0.5rem;
      border: 0;
      border-radius: 0.25rem;
      background: $color-light;
      transform: none;

      @include dark-mode {
        background: $color-dark;
      }
    }
  }

  &:checked {
    border-color: $color-dark;
    background: $color-dark;

    @include dark-mode {
      border-color: $color-light;
      background: $color-light;
    }

    .toggle & {
      border-color: transparent;
      background-color: $color-success;
    }

    &::before {
      opacity: 1;

      .toggle & {
        right: 0.1875rem;
      }
    }
  }

  @media (hover: hover) {
    &:hover:not(.is-disabled &) {
      border-color: $color-dark;
      cursor: pointer;

      @include dark-mode {
        border-color: $color-light;
      }

      &:checked {
        .toggle & {
          background-color: color.mix($color-dark, $color-success, 20%);

          @include dark-mode {
            background-color: color.mix($color-dark, $color-success, 20%);
          }
        }
      }

      .toggle & {
        border-color: transparent;
        background-color: color.change($color-dark, $alpha: 0.3);

        @include dark-mode {
          background-color: color.change($color-light, $alpha: 0.15);
        }
      }

      & + label {
        cursor: pointer;
      }
    }
  }

  &:focus-visible:not(.is-disabled) {
    border-color: $color-dark;
    outline: 0.125rem solid $color-focus;
    outline-offset: 0.125rem;

    @include dark-mode {
      border-color: $color-light;
      outline-color: $color-focus-dark;
    }
  }

  & + label {
    @include text-md;
    @include text-normal;

    & {
      flex: 1;
      padding-left: 0.75rem;
      margin: 0;

      .toggle & {
        padding-right: 1.5rem;
        padding-left: 0;
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $color-heading;
  gap: 0.25rem;

  @include dark-mode {
    color: $color-heading-dark;
  }
}

.content {
  @include text-md;
  @include text-normal;

  & {
    margin-top: 0.25rem;
    color: $color-body;

    @include dark-mode {
      color: $color-body-dark;
    }
  }
}

.helper {
  @include text-sm;
  @include text-normal;

  & {
    color: $color-body;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
