@use '/src/styles/forward' as *;
@use 'sass:color';

.toggle {
  position: relative;
  width: max-content;

  &.skeleton {
    .checkbox + label {
      animation: pulse 1.5s infinite alternate;
      background-color: $color-nav-skeleton;
      box-shadow: none;
      transition: opacity 0.3s ease-in-out;

      @include dark-mode {
        background-color: $color-skeleton-dark;
      }
    }

    span {
      display: none;
    }
  }

  .checkbox {
    display: none;

    & + label {
      width: 5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      background: $color-nav;

      @include dark-mode {
        background: $color-nav-dark;
      }

      &::before {
        display: none;
      }
    }
  }

  span {
    position: absolute;
    z-index: 1;
    top: 0.25rem;
    left: 0.25rem;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid rgb(12 16 20 / 5%);
    border-radius: 1rem;
    background-color: $color-warning;
    pointer-events: none;

    @include dark-mode {
      background-color: $color-info;
    }
  }
}

.sun {
  display: block;
  color: $color-dark;

  @include dark-mode {
    display: none;
  }
}

.moon {
  display: none;
  color: $color-light;

  @include dark-mode {
    display: block;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
