@use '/src/styles/forward' as *;

.nav {
  display: flex;
  gap: 1rem;
}

.button {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.71875rem 0;
  gap: 0.25rem;

  @media (hover) and (pointer: fine) {
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }

  span {
    @include text-xs;
    @include text-normal;
  }
}
