.nav {
  display: flex;
  gap: 1rem;

  &.top {
    border-bottom: 0.0625rem solid $color-border;

    @include dark-mode {
      border-color: $color-border-dark;
    }
  }

  &.bottom {
    border-top: 0.0625rem solid $color-border;

    @include dark-mode {
      border-color: $color-border-dark;
    }
  }
}

.button {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.71875rem 0;
  gap: 0.25rem;

  &:hover {
    color: $color-primary;
    cursor: pointer;
  }

  span {
    @include text-xs;
    @include text-normal;
  }
}
