.editor {
  position: relative;
  padding-top: 1.25rem;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    border: 0.0625rem solid var(--border-color);
  }

  &.dark {
    background-color: #1e1e1e;

    &::after {
      border-color: var(--border-dark-color);
    }
  }
}

.button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
