@use '/src/styles/forward' as *;

.page {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.main {
  @include text-content;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;

  h2 {
    color: var(--heading-color);

    @include dark-mode {
      color: var(--heading-dark-color);
    }
  }

  p {
    color: var(--body-color);

    @include dark-mode {
      color: var(--body-dark-color);
    }
  }
}
