@use '/src/styles/forward' as *;

.main {
  display: grid;
  color: var(--heading-color);
  overflow-x: scroll;
  scrollbar-width: none;

  @include dark-mode {
    color: var(--heading-dark-color);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.top {
  display: grid;
  padding-left: 32px;
  margin-bottom: 0.375rem;
  grid-auto-columns: 0.8125rem;
  grid-auto-flow: column;

  @media (min-width: $breakpoint-md) {
    grid-auto-columns: 1.25rem;
  }
}

.month {
  @include text-xxs;

  & {
    padding-left: 2px;
    text-align: left;
    white-space: nowrap;

    @media (min-width: $breakpoint-md) {
      @include text-xs;
    }
  }
}

.content {
  display: flex;
}

.side {
  display: flex;
  min-width: 32px;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 0.1875rem;
  gap: 0.1875rem;
  text-align: left;

  @media (min-width: $breakpoint-md) {
    margin-right: 0.25rem;
    gap: 0.25rem;
  }
}

.day {
  @include text-xxs;

  & {
    height: 0.625rem;

    @media (min-width: $breakpoint-md) {
      @include text-xs;

      & {
        height: 1rem;
      }
    }
  }
}

.grid {
  display: flex;
  gap: 0.1875rem;

  @media (min-width: $breakpoint-md) {
    gap: 0.25rem;
  }
}

.tiles {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;

  @media (min-width: $breakpoint-md) {
    gap: 0.25rem;
  }
}

.tile {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.125rem;
  background-color: var(--block-color);

  @media (min-width: $breakpoint-md) {
    width: 1rem;
    height: 1rem;
    border-radius: 0.1875rem;
  }

  @include dark-mode {
    background-color: var(--block-dark-color);
  }

  &.active {
    background-color: var(--success-color);
  }
}
