@use '/src/styles/forward' as *;

.social {
  @include skeleton-text;

  & {
    display: flex;
    gap: 1.5rem;
  }

  .icon {
    position: relative;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem;
    background: $color-primary;
    color: $color-light;
    transition: all 0.3s ease;

    @media (hover: hover) {
      &:hover {
        scale: 1.1;
      }
    }

    &:focus {
      scale: 1;
    }
  }

  svg {
    width: 24px;
    height: auto;

    @media (min-width: $breakpoint-xl) {
      width: 30px;
    }
  }

  .linkedin {
    background: #0077b5;
    color: $color-light;
  }

  .instagram {
    background: #d62976;
    color: $color-light;
  }

  .github {
    background: #000;
    color: #fff;

    @include dark-mode {
      background: #fff;
      color: #000;
    }
  }
}
