@use '@/styles/forward' as *;

.toast {
  @include text-sm;
  @include text-normal;

  & {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    color: var(--heading-color);
    background-color: var(--block-color);
    border-radius: 0.5rem;

    @include dark-mode {
      color: var(--heading-dark-color);
      background-color: var(--block-dark-color);
    }
  }
}

.button {
  padding: 0.3125rem;
  margin-right: -0.4375rem;
}
