@use './forward' as *;
@use './normalize';

.light {
  background: $color-light;
  color: $color-text;
}

.dark {
  background: $color-dark;
  color: $color-text-dark;
}

body {
  background: $color-light;
  color: $color-text;
  overflow-y: scroll;

  @include dark-mode {
    background: $color-dark;
    color: $color-text-dark;
  }
}

.stop-scroll {
  position: relative;
  overflow: hidden;
}
