@use 'sass:color';
@use './variables' as *;
@use './typography' as *;

@mixin dark-mode {
  :global(.dark) & {
    @content;
  }

  .dark & {
    @content;
  }
}

@mixin light-mode {
  :global(.light) & {
    @content;
  }

  .light & {
    @content;
  }
}

@mixin container {
  display: flex;
  max-width: $width-max;
  flex-direction: column;
  padding: 0 1.5rem;
  margin: 0 auto;
  gap: 1.5rem;

  @media (min-width: $breakpoint-md) {
    gap: 2rem;
  }
}

$color-tooltip: #0d0d0d;
$color-tooltip-text: #fff;
$color-tooltip-dark: #fff;
$color-tooltip-text-dark: #000;

@mixin toolbar {
  &:hover::after {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 0.325rem 1rem;
    border-radius: 0.5rem;
    margin-top: -1rem;
    background-color: $color-tooltip;
    color: $color-tooltip-text;
    content: attr(data-tooltip);
    opacity: 1;
    transform: translateX(-50%);
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;
    visibility: visible;
    white-space: nowrap;

    @include dark-mode {
      background-color: $color-tooltip-dark;
      color: $color-tooltip-text-dark;
    }
  }

  &:hover::before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent $color-tooltip;
    margin-top: -1.375rem;
    content: '';
    opacity: 1;
    transform: translate(-50%);
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;
    visibility: visible;

    @include dark-mode {
      border-color: transparent transparent $color-tooltip-dark;
    }
  }

  &::before,
  &::after {
    display: none;
    opacity: 0;
    visibility: hidden;

    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
}

@mixin skeleton-text {
  .skeleton,
  &.skeleton {
    border-color: transparent;
    animation: pulse 1.5s infinite alternate;
    background-color: rgb(0 0 0 / 10%);
    color: transparent;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    user-select: none;

    @include dark-mode {
      background-color: rgb(255 255 255 / 10%);
      color: transparent;
    }

    &:not(.button, .nav, .icon) {
      border-radius: 0.5rem;
    }
  }
}

@mixin skeleton-image {
  .skeleton {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    animation: pulse 1.5s infinite alternate;
    background-color: rgb(0 0 0 / 10%);
    transition: all 0.3s ease-in-out;

    @include dark-mode {
      background-color: rgb(255 255 255 / 10%);
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

@mixin text-content {
  display: grid;
  gap: 0.5rem;

  h2 {
    @include text-2xl;
    @include text-bold;

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-3xl;
    }
  }

  h3 {
    @include text-lg;
    @include text-bold;

    @media (min-width: $breakpoint-md) {
      @include text-lg;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-xl;
    }
  }

  h4 {
    @include text-md;
    @include text-bold;

    @media (min-width: $breakpoint-md) {
      @include text-md;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-lg;
    }
  }

  p {
    @include text-md;
    @include text-normal;

    @media (min-width: $breakpoint-md) {
      @include text-md;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-lg;
    }
  }

  ol {
    padding-left: 1.5rem;
    list-style-type: decimal;
  }

  ul {
    padding-left: 1.5rem;
    list-style-type: disc;
  }

  li {
    @include text-md;
    @include text-normal;

    & {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-lg;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-lg;
    }
  }

  hr {
    border-color: $color-border;
    margin: 0;

    @include dark-mode {
      border-color: $color-border-dark;
    }
  }
}

$color-loading-01: color.change($color-dark, $alpha: 0.15);
$color-loading-02: color.change($color-dark, $alpha: 0.25);
$color-loading-03: color.change($color-dark, $alpha: 0.35);
$color-loading-01-dark: color.change($color-light, $alpha: 0.15);
$color-loading-02-dark: color.change($color-light, $alpha: 0.25);
$color-loading-03-dark: color.change($color-light, $alpha: 0.35);

@keyframes loading {
  0% {
    background: $color-loading-02;
    box-shadow:
      0.875rem 0 $color-loading-01,
      -0.875rem 0 $color-loading-03;
  }

  33% {
    background: $color-loading-03;
    box-shadow:
      0.875rem 0 $color-loading-02,
      -0.875rem 0 $color-loading-01;
  }

  66% {
    background: $color-loading-01;
    box-shadow:
      0.875rem 0 $color-loading-03,
      -0.875rem 0 $color-loading-02;
  }

  100% {
    background: $color-loading-02;
    box-shadow:
      0.875rem 0 $color-loading-01,
      -0.875rem 0 $color-loading-03;
  }
}

@keyframes loading-dark {
  0% {
    background: $color-loading-02-dark;
    box-shadow:
      0.875rem 0 $color-loading-01-dark,
      -0.875rem 0 $color-loading-03-dark;
  }

  33% {
    background: $color-loading-03-dark;
    box-shadow:
      0.875rem 0 $color-loading-02-dark,
      -0.875rem 0 $color-loading-01-dark;
  }

  66% {
    background: $color-loading-01-dark;
    box-shadow:
      0.875rem 0 $color-loading-03-dark,
      -0.875rem 0 $color-loading-02-dark;
  }

  100% {
    background: $color-loading-02-dark;
    box-shadow:
      0.875rem 0 $color-loading-01-dark,
      -0.875rem 0 $color-loading-03-dark;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
