@mixin font-heading {
  font-family: var(--font-heading);
}

@mixin font-body {
  font-family: var(--font-body);
}

@mixin text-xxs {
  font-size: 0.625rem; // 10px
  line-height: 0.75rem; // 16px
  letter-spacing: -0.005rem;
}

@mixin text-xs {
  font-size: 0.75rem; // 12px
  line-height: 1rem; // 16px
  letter-spacing: -0.01rem;
}

@mixin text-sm {
  font-size: 0.875rem; // 14px
  line-height: 1.25rem; // 20px
  letter-spacing: -0.0175rem;
}

@mixin text-md {
  font-size: 1rem; // 16px
  line-height: 1.5rem; // 24px
  letter-spacing: -0.02rem;
}

@mixin text-xm {
  font-size: 1.125rem; // 18px
  line-height: 1.675rem; // 26px
  letter-spacing: -0.0225rem;
}

@mixin text-lg {
  font-size: 1.25rem; // 20px
  line-height: 1.75rem; // 28px
  letter-spacing: -0.025rem;
}

@mixin text-xl {
  font-size: 1.5rem; // 24px
  line-height: 2rem; // 32px
  letter-spacing: -0.03rem;
}

@mixin text-2xl {
  font-size: 2rem; // 32px
  line-height: 2.5rem; // 40px
  letter-spacing: -0.04rem;
}

@mixin text-3xl {
  font-size: 2.5rem; // 40px
  line-height: 3rem; // 48px
  letter-spacing: -0.05rem;
}

@mixin text-4xl {
  font-size: 3rem; // 48px
  line-height: 3.5rem; // 56px
  letter-spacing: -0.06rem;
}

@mixin text-normal {
  font-weight: normal;
}

@mixin text-semibold {
  font-weight: 600;
}

@mixin text-bold {
  font-weight: 700;
}
