@use 'sass:color';

$font-heading: 'Inter', arial, sans-serif;
$font-body: 'Nunito', arial, sans-serif;
$width-max: 1432px;
$width-xl: 2032px;
$breakpoint-sm: 400px;
$breakpoint-md: 744px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 2032px;
$color-light: #fff;
$color-dark: #0d0d0d;
$color-bg: $color-light;
$color-border: color.mix($color-dark, $color-light, 25%);
$color-hover: color.mix($color-dark, $color-light, 5%);
$color-focus: $color-dark;
$color-disabled: color.change($color-dark, $alpha: 0.15);
$color-skeleton: color.mix($color-dark, $color-light, 10%);
$color-placeholder: color.mix($color-dark, $color-light, 50%);
$color-icon: color.mix($color-dark, $color-light, 80%);
$color-block: color.mix($color-dark, $color-light, 2%);
$color-bg-dark: $color-dark;
$color-border-dark: color.mix($color-light, $color-dark, 20%);
$color-hover-dark: color.mix($color-light, $color-dark, 10%);
$color-focus-dark: $color-light;
$color-disabled-dark: color.change($color-light, $alpha: 0.15);
$color-skeleton-dark: color.mix($color-light, $color-dark, 10%);
$color-placeholder-dark: color.mix($color-light, $color-dark, 50%);
$color-icon-dark: color.mix($color-light, $color-dark, 80%);
$color-block-dark: color.mix($color-light, $color-dark, 5%);
$color-primary: #dd2121;
$color-success: #29a027;
$color-error: #dd2121;
$color-error-02: #dd212111;
$color-warning: #fc0;
$color-info: #1164cc;
$color-rebecca: #639;
$color-heading: #222;
$color-heading-dark: #fff;
$color-text: #5d5d5d;
$color-text-dark: #bdc1c6;
$color-header: $color-info;
$color-header-dark: #0d0d0d;
$color-nav: rgb(0 0 0 / 20%);
$color-nav-dark: rgb(255 255 255 / 10%);
$color-header-text: #fff;
$header-height: 4.875rem;
