@use 'sass:color';

$font-heading: 'Inter', arial, sans-serif;
$font-body: 'Nunito', arial, sans-serif;
$width-max: 1432px;
$width-xl: 2032px;
$breakpoint-sm: 400px;
$breakpoint-md: 744px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 2032px;
$color-light: hsl(0deg 0% 100%);
$color-dark: hsl(0deg 0% 5%);
$header-height: 4.875rem;
$nav-height: 4.375rem;

// Light mode

// Background
$color-bg: hsl(0deg 0% 100%);
$color-bg-02: hsl(0deg 0% 95%);
$color-border: hsl(0deg 0% 80%);
$color-border-02: hsl(0deg 0% 90%);

// Text/icon
$color-heading: hsl(0deg 0% 5%);
$color-body: hsl(0deg 0% 30%);
$color-placeholder: hsl(0deg 0% 80%);
$color-icon: hsl(0deg 0% 30%);

// Input
$color-input: hsl(0deg 0% 30%);
$color-hover: hsl(0deg 0% 95%);
$color-disabled: hsl(0deg 0% 90%);
$color-loading: hsl(0deg 0% 95%);
$color-skeleton: hsl(0deg 0% 90%);
$color-focus: hsl(0deg 0% 5%);

// Dark mode

// Background
$color-bg-dark: hsl(0deg 0% 5%);
$color-bg-02-dark: hsl(0deg 0% 10%);
$color-border-dark: hsl(0deg 0% 25%);
$color-border-02-dark: hsl(0deg 0% 20%);

// Text/icon
$color-heading-dark: hsl(0deg 0% 95%);
$color-body-dark: hsl(0deg 0% 70%);
$color-placeholder-dark: hsl(0deg 0% 25%);
$color-icon-dark: hsl(0deg 0% 70%);

// Input
$color-input-dark: hsl(0deg 0% 5%);
$color-hover-dark: hsl(0deg 0% 10%);
$color-disabled-dark: hsl(0deg 0% 15%);
$color-loading-dark: hsl(0deg 0% 10%);
$color-skeleton-dark: hsl(0deg 0% 15%);
$color-focus-dark: hsl(0deg 0% 95%);

// Colors
$color-primary: hsl(0deg 80% 50%);
$color-success: hsl(142deg 76% 36%);
$color-error: hsl(355deg 75% 40%);
$color-error-02: hsl(0deg 80% 95%);
$color-warning: hsl(38deg 92% 50%);
$color-info: hsl(213deg 85% 43%);
$color-rebecca: hsl(270deg 50% 40%);

// Other
$color-header: $color-info;
$color-header-dark: $color-bg-dark;
$color-nav: hsl(213deg 85% 33%);
$color-nav-dark: hsl(0deg 0% 15%);
$color-header-text: $color-light;
