@use '@/styles/forward' as *;

$background-overlay: rgb(0 0 0 / 50%);
$background-overlay-dark: rgb(0 0 0 / 60%);
$foreground-animation-duration: 0.6s;
$background-surface: var(--white);
$background-surface-dark: var(--block-dark-color);

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 100dvh;
  padding: 0 1.5em;

  &.fullscreen {
    padding: 0;
  }

  &.bottom-sheet {
    @media (max-width: $breakpoint-md - 1) {
      place-items: end;
      padding: 0;
    }

    .main {
      @media (max-width: $breakpoint-md - 1) {
        border-radius: 1rem 1rem 0 0;

        @include dark-mode {
          width: calc(100% + 0.125rem);
          max-width: calc(100% + 0.125rem) !important;
          padding-right: 0.0625rem;
          padding-left: 0.0625rem;
          margin-right: -0.0625rem;
          margin-left: -0.0625rem;
          border-bottom: 0;
        }
      }
    }
  }

  .close-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    background-color: $background-overlay;
    border: 0;

    @include dark-mode {
      background-color: $background-overlay-dark;
    }

    &.cursor:hover {
      cursor: default;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }

  .main {
    background-color: $background-surface;
    border-radius: 1rem;
    box-shadow: 0 4px 18px 0 #0000002b;

    @include dark-mode {
      background-color: $background-surface-dark;
      box-shadow: none;
    }

    &.fullscreen {
      border: 0;
      border-radius: 0;
    }
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35.5rem;
  max-height: calc(100dvh - 5rem);

  @media (max-width: $breakpoint-md - 1) {
    padding-bottom: env(safe-area-inset-bottom);
  }

  &.fullscreen {
    max-width: 100%;
    height: 100dvh;
    max-height: 100dvh;
  }

  &.max {
    height: 100%;
  }

  .bottom-sheet & {
    @media (max-width: $breakpoint-md - 1) {
      max-width: 100% !important;
      max-height: calc(100dvh - 1rem);

      &.fullscreen {
        max-height: 100%;
      }
    }
  }
}

.sheet {
  place-items: end;
  padding: 0.5rem;

  .main {
    height: 100%;
    max-height: calc(100dvh - 1rem);
  }
}

.drag {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0.75rem;
  user-select: none;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  &::before {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    width: 2.5rem;
    height: 0.25rem;
    content: '';
    background-color: rgb(0 0 0 / 20%);
    border-radius: 0.125rem;
    transform: translateX(-50%);

    @include dark-mode {
      background-color: rgb(255 255 255 / 20%);
    }

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  .scroll {
    flex: 1;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 2.75rem;
  padding: 1.25rem 1.5rem;
  border-bottom: 0.0625rem solid transparent;
  transition: border-color 0.2s ease-in-out;

  &.border {
    border-bottom-color: var(--border-color);

    @include dark-mode {
      border-bottom-color: var(--border-dark-color);
    }
  }

  & + .scroll {
    padding-top: 0;
  }

  .fullscreen & {
    padding-bottom: 1.25rem;

    @media (min-width: $breakpoint-md) {
      padding-bottom: 1rem;
    }
  }

  .top {
    display: grid;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:first-child {
      justify-content: flex-start;
    }
  }

  .title {
    @include font-heading;
    @include text-lg;
    @include text-bold;

    & {
      color: var(--heading-color);

      @include dark-mode {
        color: var(--heading-dark-color);
      }
    }
  }

  .subtext {
    @include font-heading;
    @include text-sm;
    @include text-normal;

    & {
      color: var(--body-color);

      @include dark-mode {
        color: var(--body-dark-color);
      }
    }
  }

  .left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .left.anchor {
    margin: -0.375rem auto -0.375rem -0.625rem;
  }

  .right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .right.anchor {
    margin: -0.375rem -0.625rem -0.375rem auto;
  }
}

.footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem max(env(safe-area-inset-bottom), 1rem);
  text-align: center;
  border-top: 0.0625rem solid transparent;
  transition: border-color 0.2s ease-in-out;

  &.border {
    border-top-color: var(--border-color);

    @include dark-mode {
      border-top-color: var(--border-dark-color);
    }
  }

  .fullscreen & {
    padding-top: 1rem;
  }

  &.full {
    flex-direction: column-reverse;

    .left,
    .right {
      width: 100%;

      .anchor {
        margin: 0;
      }
    }

    button {
      width: 100%;
    }
  }

  .text {
    text-align: left;
  }

  .title {
    @include text-sm;
    @include text-bold;

    & {
      color: var(--heading-color);

      @include dark-mode {
        color: var(--heading-dark-color);
      }
    }
  }

  .subtext {
    @include text-sm;
    @include text-normal;

    & {
      color: var(--body-color);

      @include dark-mode {
        color: var(--body-dark-color);
      }
    }
  }

  .left,
  .right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .left.anchor {
    margin-left: -1.5rem;
  }

  .right {
    margin-left: auto;

    &.anchor {
      margin-right: -1.5rem;
    }
  }
}

.scroll {
  flex: 1;
  padding: 1.5rem;
  overflow: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  @include text-content;

  & {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);

    @include dark-mode {
      color: var(--heading-dark-color);
    }
  }

  .fullscreen & {
    height: 100%;
  }
}
