.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 0 0 3rem;
  transition: all 0.3s ease;

  @media (min-width: $breakpoint-md) {
    gap: 4rem;
    padding: 0 0 4rem;
  }

  @media (min-width: $breakpoint-lg) {
    gap: 8rem;
    padding: 0 0 8rem;
  }
}

.section {
  padding: 2rem 0;

  h1 {
    @include text-3xl;
    @include text-bold;

    & {
      color: var(--heading-color);

      @include dark-mode {
        color: var(--heading-dark-color);
      }
    }
  }
}

.container {
  @include container;
}