@use '/src/styles/forward' as *;

.fields {
  position: relative;
  display: grid;

  &::before {
    --ol: calc(
      (min(var(--v0), var(--v1)) - var(--min)) / (var(--rng) - var(--min)) *
        100%
    );
    --or: calc(
      (
          1 - (max(var(--v0), var(--v1)) - var(--min)) /
            (var(--rng) - var(--min))
        ) *
        100%
    );

    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 5;
    grid-area: 1 / 1;
    height: 1.5rem;
    margin: 0 0.75rem;
    margin-top: 0.0625rem;
    content: '';
    background: var(--primary-color);
    clip-path: inset(0 var(--or) 0 var(--ol));
    transform: translateY(-50%);
  }
}

.field {
  grid-area: 1 / 1;
  height: 1.5rem;
  pointer-events: auto;
}

.input {
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  vertical-align: middle;
  appearance: none;
  pointer-events: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0.75rem;

  &::-webkit-slider-runnable-track {
    position: relative;
    width: 100%;
    height: 0.75rem;
    background-color: var(--black-10);
    border-radius: 0.375rem;

    @include dark-mode {
      background-color: var(--white-10);
    }
  }

  &::-webkit-slider-thumb {
    position: relative;
    top: 50%;
    z-index: 10;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-color);
    appearance: none;
    pointer-events: all;
    background-color: var(--white);
    border: 0.25rem solid var(--primary-color);
    border-radius: 0.75rem;
    transform: translateY(-50%);
  }

  &:disabled {
    cursor: default;
  }
}
