@use '/src/styles/forward' as *;

.alert {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;

  &.default {
    padding: 0.9375rem;
    border: 0.0625rem solid $color-border;

    @include dark-mode {
      border-color: $color-border-dark;
    }
  }

  &.error {
    background-color: $color-error;
    color: $color-light;
  }

  &.warning {
    background-color: $color-warning;
    color: $color-dark;
  }

  &.info {
    background-color: $color-info;
    color: $color-light;
  }

  &.success {
    background-color: $color-success;
    color: $color-light;
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .right {
    margin: -0.75rem -0.75rem -0.75rem 0;
  }
}

.button {
  color: inherit;
}
