@use '@/styles/forward' as *;

.group {
  position: relative;
  display: flex;
  gap: 0.5rem;
  width: max-content;

  @media (hover: hover) {
    &:hover:not(.is-disabled, .is-error, &:has(.button:hover, .click:hover))
      .list {
      cursor: text;
      background-color: var(--black-5);
      border-radius: 0.5rem;

      @include dark-mode {
        background-color: var(--white-5);
      }
    }
  }

  &.is-disabled .item {
    background-color: var(--black-10);

    @include dark-mode {
      background-color: var(--white-10);
    }
  }

  &.is-loading {
    position: relative;

    .list {
      opacity: 0;
    }
  }

  &.is-skeleton .list {
    background-color: var(--black-10);
    border-color: var(--black-10);
    border-radius: 0.5rem;
    animation: pulse 1.5s infinite ease-in-out;

    @include dark-mode {
      background-color: var(--white-10);
      border-color: var(--white-10);
    }

    .item {
      opacity: 0;
    }
  }

  &.is-error:not(.is-disabled) .item {
    background-color: var(--error-15);
    border-color: var(--error-color);
  }
}

.list {
  display: flex;
}

.item {
  width: 3rem;
  height: 3.5rem;
  padding: 0.96875rem;
  color: var(--body-color);
  text-align: center;
  border: 0.0625rem solid var(--border-color);

  @include dark-mode {
    color: var(--body-dark-color);
    border-color: var(--border-dark-color);
  }

  &:not(:last-child) {
    border-right-width: 0;
  }

  &:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  &:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  &.active {
    position: relative;
    outline: 0.125rem solid var(--black-95);
    outline-offset: -0.125rem;
    background-color: var(--black-5);
    border-right-width: 0;

    @include dark-mode {
      outline-color: var(--white-95);
      background-color: var(--white-5);
    }

    & + .item {
      border-left-width: 0;
    }
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--black-5);
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.5rem;

  @include dark-mode {
    background-color: var(--white-5);
    border-color: var(--border-dark-color);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem;
    aspect-ratio: 1;
    content: '';
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: loading 1s infinite;

    @include dark-mode {
      animation: loading-dark 1s infinite;
    }
  }
}
