@use '/src/styles/forward' as *;

.input {
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0.75rem;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.75rem;
    background-color: var(--black-10);
    border-radius: 0.375rem;

    @include dark-mode {
      background-color: var(--white-10);
    }
  }

  &::-webkit-slider-thumb {
    position: relative;
    top: 50%;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-color);
    appearance: none;
    background-color: var(--white);
    border: 0.25rem solid var(--primary-color);
    border-radius: 0.75rem;
    box-shadow: var(--primary-color) -1612px 0 0 1600px;
    transform: translateY(-50%);
  }

  &:disabled {
    cursor: default;

    &::-webkit-slider-thumb {
      color: #cecece;
      border-color: #cecece;
      box-shadow:
        var(--white) 0 0 0 32px inset,
        #cecece -1612px 0 0 1600px;

      @include dark-mode {
        color: #3d3d3d;
        border-color: #3d3d3d;
        box-shadow:
          var(--white) 0 0 0 32px inset,
          #3d3d3d -1612px 0 0 1600px;
      }
    }
  }
}
