@use '/src/styles/forward' as *;

.logo {
  @include text-lg;
  @include text-semibold;
  @include skeleton-text;

  & {
    display: flex;
    width: max-content;
    align-items: center;
    color: $color-header-text;
    font-family: $font-heading;
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
  }

  &.dark {
    color: $color-dark;
  }

  &.light {
    color: $color-light;
  }

  &.header .skeleton {
    @include light-mode {
      background-color: $color-nav-skeleton;
    }

    &.icon {
      @include light-mode {
        background-color: $color-nav-skeleton;
      }
    }
  }

  .icon {
    @include text-xl;
    @include skeleton-text;

    & {
      position: relative;
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      align-items: center;
      justify-content: center;
      border-radius: 0 0.5rem 0.5rem;
      background-color: $color-primary;
      color: $color-light;
    }
  }

  @media (hover: hover) {
    &:hover {
      scale: 1.05;
    }
  }
}
