@import 'https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap';

body {
  font-family: 'DM Sans', sans-serif;
}

.body {
  background: #fff;
  transition: background-color 0.3s;
}

.padding {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem 1.5rem;
}

.padding-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

html .sb-show-main {
  background: inherit !important;
}

.flex {
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }
}

.grid {
  display: grid;
  gap: 1rem;
}

.light {
  color: var(--body-color);
  background-color: var(--bg-color);
}

.dark {
  color: var(--body-dark-color);
  background-color: var(--bg-dark-color);
}
