@use '/src/styles/forward' as *;

.container {
  @include text-content;

  & {
    display: grid;
    gap: 1.5rem;

    &.border {
      border-radius: 0.5rem;
      box-shadow: inset 0 0 0 0.0625rem $color-border;

      @include dark-mode {
        box-shadow: inset 0 0 0 0.0625rem $color-border-dark;
      }
    }

    &.padding {
      padding: 1rem;

      @media (min-width: $breakpoint-md) {
        padding: 1rem 1.5rem;
      }
    }
  }

  .title {
    display: grid;
    gap: 1rem;
  }

  .content {
    display: grid;
    gap: 1rem;
  }
}
