@use '/src/styles/forward' as *;

.container {
  @include text-content;

  & {
    display: grid;
    gap: 1rem;

    &.border {
      padding: 1rem;
      border: 0.0625rem solid $color-border;
      border-radius: 0.5rem;

      @include dark-mode {
        border-color: $color-border-dark;
      }

      @media (min-width: $breakpoint-md) {
        padding: 1.5rem;
      }
    }
  }

  .title {
    display: grid;
    gap: 1rem;
  }

  .content {
    display: grid;
    gap: 1rem;
  }
}
