.item {
  border-bottom: 0.0625rem solid $color-border;

  @include dark-mode {
    border-color: $color-border-dark;
  }
}

.title {
  @include text-lg;
  @include text-bold;

  & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    color: $color-heading;
    gap: 0.5rem;

    @include dark-mode {
      color: $color-heading-dark;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.content {
  @include text-content;

  & {
    padding: 0 0 1rem;
  }
}
