@use '@/styles/forward' as *;

:global(:root) {
  --btn-color: transparent;
  --btn-hover-color: var(--black-10);
}

.main {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  color: var(--white);

  &.default {
    color: var(--black);
    background-color: var(--block-color);

    @include dark-mode {
      color: var(--white);
      background-color: var(--block-dark-color);
    }
  }

  &.primary {
    background-color: var(--primary-color);
  }

  &.error {
    background-color: var(--error-color);
  }

  &.warning {
    color: var(--black);
    background-color: var(--warning-color);
  }

  &.info {
    background-color: var(--info-color);
  }

  &.success {
    background-color: var(--success-color);
  }

  &.border {
    border-radius: 1rem;

    .content {
      border-radius: 0.75rem;
    }
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  .buttons {
    gap: 0;
    margin-right: -1rem;
    background-color: transparent;
  }
}

.content {
  @include text-content;

  & {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
  }

  &.default {
    color: var(--body-color);
    background-color: var(--bg-color);

    @include dark-mode {
      color: var(--body-dark-color);
      background-color: var(--bg-dark-color);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--heading-color);

      @include dark-mode {
        color: var(--heading-dark-color);
      }
    }
  }

  &.light {
    color: var(--body-color);
    background-color: var(--bg-color);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--heading-color);
    }
  }

  &.dark {
    color: var(--body-dark-color);
    background-color: var(--bg-dark-color);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--heading-dark-color);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .center & {
    justify-content: center;
  }
}
