@use '/src/styles/forward' as *;

.section {
  position: relative;
  scroll-margin-top: 1.5rem + $header-height;

  @media (min-width: $breakpoint-md) {
    scroll-margin-top: 2rem + $header-height;
  }

  @media (min-width: $breakpoint-lg) {
    scroll-margin-top: 4rem + $header-height;
  }
}

.container {
  @include container;
}

.content {
  display: grid;
  gap: 1rem;

  @media (min-width: $breakpoint-md) {
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
  }

  @media (min-width: $breakpoint-lg) {
    gap: 5rem;
  }

  &.reverse {
    @media (min-width: $breakpoint-md) {
      grid-template-columns: 3fr 2fr;
    }

    .image {
      @media (min-width: $breakpoint-md) {
        order: 1;
      }
    }
  }
}

.image {
  @include skeleton-image;

  .image-wrap {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 250px;
    justify-content: flex-start;
    border-radius: 1rem;
    aspect-ratio: 1;

    @media (min-width: $breakpoint-md) {
      max-width: 520px;
      justify-content: center;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }
}

.text {
  @include text-content;
  @include skeleton-text;

  & {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;

    @media (min-width: $breakpoint-md) {
      gap: 0.5rem;
    }
  }

  h2 {
    color: $color-heading;

    @include dark-mode {
      color: $color-heading-dark;
    }
  }

  h3 {
    color: $color-primary;
  }

  .button-group {
    margin-top: 1rem;
  }
}
